page-detail-contact {
    
    #image {
        border-radius: 50%;
    }

    .item {
        text-align: center;
    }

    .item-image {
        text-align: center;
    }

    .titleName {
        text-align: center;
    }
}
